body {
    line-height: 1;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    width: 100%;
    height: 100%;
    margin: auto;
    overflow: hidden;
    padding: 10px;
}

header {
    background: #ffffff;
    color: #020202;
    padding-top: 10px;
    min-height: 70px;
    border-bottom: #000000 3px solid;
    overflow: hidden;
    text-align: center;
}

header .highlight, header .current a {
    font-weight: 500;
    font-size: 6rem;
    font-family: 'Dancing Script', cursive;
}

#showcase {
    background: no-repeat center center;
    background-size: cover;
    min-height: 400px;
    text-align: center;
    color: #000000;
    padding: 50px 20px;
    position: relative; 
}

#showcase h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 2.7rem;
    margin-bottom: 10px;
    text-align: left;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}


#showcase .btn {
    color: #fff;
    background: #333;
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
    font-size: 1rem;
    position: absolute;
    bottom: 80px;
    transform: translateX(-50%);
    font-family: 'Times New Roman', Times, serif;
}

#showcase .btn:hover {
    background: #666;
}

#about {
    float: left;
    background: #f4f4f4;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: right;
}
#about .container {
    max-width: 900px;
    margin: 0 auto;
}

#about h2 {
    font-family: 'Dancing Script', cursive;
    font-size: 3rem;
    margin-top: 0;
    margin-bottom: 10px;
    padding-bottom: 5px;
    color: rgb(0, 0, 0);
    text-align: left;
}
#about p {
    font-size: 1rem; 
    margin-bottom: 20px;
    text-align: left;
    color: rgb(0, 0, 0);
    font-family: 'Times New Roman', Times, serif;
}
#about a {
    color: #fff;
    background: #333;
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 70px;
    font-size: 1rem;
    text-align: left;
    font-family: 'Times New Roman', Times, serif;

}

footer {
    text-align: center;
    padding: 0;
    background-color: #333;
    color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 999;
}
